<h2>Edit platform</h2>

<%= render "form.html", changeset: @changeset,
                        action: platform_path(@conn, :update, @platform) %>

<%= link "Back", to: platform_path(@conn, :index) %>
