<h2>Listing platforms</h2>

<div class="mb20">
  <%= link "+New platform", to: platform_path(@conn, :new), class: "btn-primary btn pull-right" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for platform <- @platforms do %>
    <tr>
      <td><%= platform.name %></td>

      <td class="text-right">
        <%= link "Show", to: platform_path(@conn, :show, platform), class: "btn btn-default btn-sm" %>
        <%= link "Edit", to: platform_path(@conn, :edit, platform), class: "btn btn-default btn-sm" %>
        <%= link "Delete", to: platform_path(@conn, :delete, platform), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
