<h2>Show platform</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @platform.name %>
  </li>

</ul>

<%= link "Edit", to: platform_path(@conn, :edit, @platform) %>
<%= link "Back", to: platform_path(@conn, :index) %>
