<h2 class="mb20">Listing games</h2>

<%= link "New game", to: game_path(@conn, :new), class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for game <- @games do %>
    <tr>
      <td><%= game.name %></td>

      <td class="text-right">
        <%= link "Show", to: game_path(@conn, :show, game), class: "btn btn-primary btn-sm" %>
        <%= link "Edit", to: game_path(@conn, :edit, game), class: "btn btn-primary btn-sm" %>
        <%= link "Delete", to: game_path(@conn, :delete, game), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
