<h2>Show game</h2>

<div class="col-sm-3">
  <ul>

    <li>
      <!-- <strong>Name:</strong> -->
      <%= @game.name %>
      <%= link "Edit", to: game_path(@conn, :edit, @game), class: "btn btn-primary btn-sm" %>
    </li>

  </ul>
</div>
<br>

<div class="col-sm-12">
  <%= link "Back", to: game_path(@conn, :index) %>
</div>
