<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :title, class: "control-label" %>
    <%= text_input f, :title, class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
    <%= label f, :channel, class: "control-label" %>
    <%= text_input f, :channel, class: "form-control" %>
    <%= error_tag f, :channel %>
  </div>

  <div class="form-group">
    <%= label f, :start_time, class: "control-label" %>
    <%= datetime_select f, :start_time, class: "form-control" %>
    <%= error_tag f, :start_time %>
  </div>

  <div class="form-group">
    <%= label f, :end_time, class: "control-label" %>
    <%= datetime_select f, :end_time, class: "form-control" %>
    <%= error_tag f, :end_time %>
  </div>

  <div class="form-group">
    <%= label f, :type, class: "control-label" %>
    <%= text_input f, :type, class: "form-control" %>
    <%= error_tag f, :type %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
