<h2>Listing events</h2>

<div class="mb20">
  <%= link "+ New event", to: event_path(@conn, :new), class: "btn-primary btn pull-right" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Channel</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Type</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for event <- @events do %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.channel %></td>
      <td><%= event.start_time %></td>
      <td><%= event.end_time %></td>
      <td><%= event.type %></td>

      <td class="text-right">
        <%= link "Show", to: event_path(@conn, :show, event), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: event_path(@conn, :edit, event), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: event_path(@conn, :delete, event), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
