<h2>Show event</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @event.title %>
  </li>

  <li>
    <strong>Channel:</strong>
    <%= @event.channel %>
  </li>

  <li>
    <strong>Start time:</strong>
    <%= @event.start_time %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @event.type %>
  </li>

</ul>

<%= link "Edit", to: event_path(@conn, :edit, @event) %>
<%= link "Back", to: event_path(@conn, :index) %>
