
<h2>Listing genders</h2>
<%= link "New gender", to: gender_path(@conn, :new), class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th>Gender</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for gender <- @genders do %>
    <tr>
      <td><%= gender.gender %></td>

      <td class="text-right">
        <%= link "Show", to: gender_path(@conn, :show, gender), class: "btn btn-primary btn-sm" %>
        <%= link "Edit", to: gender_path(@conn, :edit, gender), class: "btn btn-primary btn-sm" %>
        <%= link "Delete", to: gender_path(@conn, :delete, gender), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
