/* This file is for your main application css. */

button:hover {
  cursor: pointer;
}

.navbar, .panel {
  margin-bottom: 0 !important;
}

.btn-cerulean {
  color: #00A3E3 !important;
  border-color: #00A3E3 !important;
}

.btn-cerulean:hover {
  color: #fff !important;
}

.btn-cerulean.active {
  background-color: #007eb0 !important;
  border-color: #007eb0 !important;
}

footer {
  padding: 50px 0;
}
