.home {
  width: 100%;
  /*height: 65vh;*/
  padding-bottom: 8rem;
}

#front-play-btn {
  min-height: 38px;
}

.platform-icons {
  line-height: 100px;
}

.fa-twitch {
  color: #6441A4;
}

.fa-youtube {
  color: #E62117;
}

.hitbox-logo {
  /*size: 20px;*/
  width: 100px;
}

.event-viewers-label {
  margin-right: 5px;
}

.content-section-a, .content-section-c {
  background: #fff;
}

.content-section-a, .content-section-b, .content-section-c, .content-section-platforms {
  padding: 50px 0;
}

.content-section-a h2, .content-section-c h2 {
  color: #212121;
}

@keyframes home-arrow {
  0%   { bottom: 20px; }
  100% { bottom: 10px; }
}

.event-panel:hover {
  cursor: pointer;
}

.event-title {
  color: #aaa;
}

#arrow {
  bottom: 10px !important;
  animation: home-arrow 1.5s; /* IE 10+, Fx 29+ */
  -webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
  animation-iteration-count: 3;
}

.home-description {
  padding-bottom: 4rem;
}

.home-description h2 {
  color: #212121 !important;
  padding: 2rem 0rem;
}

.home-description p {
  color: #212121;
  font-size: 1.8rem;
}

footer {
  background: #212121;
}

footer li a {
  color: #fff;
}
