.navbar {
  border-radius: 0px !important;
  /*background-color: #661141 !important;*/
}
.navbar-brand {
  color: #fff !important;
}
.navbar-toggler {
  border-color: #fff !important;
  color: #fff !important;
}
.navbar-toggler-icon {
  background-image: none !important;
  vertical-align: middle;
  line-height: 30px;
  font-size: 20px;
}
.navbar a {
  color: #fff;
}
.nav-link {
  color: #fff !important;
}
.navbar .dropdown-item {
  color: #232323 !important;
}
