<h2>Edit streamtype</h2>

<%= render "form.html", changeset: @changeset,
                        action: streamtype_path(@conn, :update, @streamtype) %>

<%= link "Back", to: streamtype_path(@conn, :index) %>
