<h2>Listing streamtypes</h2>
<%= link "New streamtype", to: streamtype_path(@conn, :new), class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th>Stream type</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for streamtype <- @streamtypes do %>
    <tr>
      <td><%= streamtype.stream_type %></td>

      <td class="text-right">
        <%= link "Show", to: streamtype_path(@conn, :show, streamtype), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: streamtype_path(@conn, :edit, streamtype), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: streamtype_path(@conn, :delete, streamtype), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
