<h2>Show streamtype</h2>

<ul>

  <li>
    <strong>Stream type:</strong>
    <%= @streamtype.stream_type %>
  </li>

</ul>

<%= link "Edit", to: streamtype_path(@conn, :edit, @streamtype) %>
<%= link "Back", to: streamtype_path(@conn, :index) %>
