<div class="home" id="home">
</div>

<div class="white-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 home-description">
        <!-- <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt=""> -->
        <h2>Create a stream playlist</h2>
        <p>You can easily create your individual stream playlist. Just select what kind of streams your playlist should contain (e.g. language or gender). More types will come later...</p>
      </div>
      <div class="col-sm-4 home-description">
        <!-- <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt=""> -->
        <h2>Discover new streams</h2>
        <p>All the streams available are carefully picked from popular platforms like Twitch (more streams will come later). So most streams might be unknown to you. Don't hesitate to discover new streams!</p>
      </div>
      <div class="col-sm-4 home-description">
        <!-- <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt=""> -->
        <h2>Don't miss events</h2>
        <p>Watch some of the most popular streaming events like competitive or 24 hour charity events.</p>
      </div>
    </div>
    <div class="row home-description">
      <p class="text-center">And soon there will be more features...</p>
    </div>
  </div>
</div>

<!-- <div class="content-section-platforms">
  <div class="container">
    <div class="row">
      <h2 class="text-center" style="color: #212121;">Using multiple streaming platforms</h2>
    </div>

    <div class="row">
      <div class="col-sm-4 platform-icons">
        <div class="text-center">
          <i class="fa-twitch fa fa-4x"></i>
        </div>
      </div>
      <div class="col-sm-4 platform-icons">
        <div class="text-center">
          <i class="fa-youtube fa fa-4x"></i>
        </div>
      </div>
      <div class="col-sm-4 platform-icons">
        <div class="text-center">
          <img class="hitbox-logo" src="<%= static_path(@conn, "/images/hitbox-logo.svg") %>">
        </div>
      </div>
    </div>
  </div>
</div> -->


<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/privacy">Privacy</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright © streamsap 2017. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
