<h2>Show language</h2>

<ul>

  <li>
    <strong>Language:</strong>
    <%= @language.language %>
  </li>

</ul>

<%= link "Edit", to: language_path(@conn, :edit, @language) %>
<%= link "Back", to: language_path(@conn, :index) %>
