<h2>Edit channel</h2>

<%= render "form.html", changeset: @changeset,
                        action: channel_path(@conn, :update, @channel),
                        languages: @languages,
                        streamtypes: @streamtypes,
                        games: @games,
                        genders: @genders,
                        platforms: @platforms %>

<%= link "Back", to: channel_path(@conn, :index) %>
