<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :language, class: "control-label" %>
    <%= select f, :language, @languages, prompt: "Choose a language...", class: "custom-select btn-block" %>
    <%= error_tag f, :language %>
  </div>

  <div class="form-group">
    <%= label f, :stream_type, class: "control-label" %>
    <%= select f, :stream_type, @streamtypes, prompt: "Choose a stream type...", class: "custom-select btn-block" %>
    <%= error_tag f, :stream_type %>
  </div>

  <div class="form-group">
    <%= label f, :game, class: "control-label" %>
    <%= select f, :game, @games, prompt: "Choose a game...", class: "custom-select btn-block" %>
    <%= error_tag f, :game %>
  </div>

  <div class="form-group">
    <%= label f, :gender, class: "control-label" %>
    <%= select f, :gender, @genders, prompt: "Choose a gender...", class: "custom-select btn-block" %>
    <%= error_tag f, :gender %>
  </div>

  <div class="form-group">
    <%= label f, :platform, class: "control-label" %>
    <%= select f, :platform, @platforms, prompt: "Choose a platform...", class: "custom-select btn-block" %>
    <%= error_tag f, :platform %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
