
<h2 class="mb20">Listing channels</h2>

<div class="mb20">
  <%= link "+ New channel", to: channel_path(@conn, :new), class: "btn-primary btn pull-right" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th>Stream_type</th>
      <th>Game</th>
      <th>Gender</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for channel <- @channels do %>
    <tr>
      <td><%= channel.name %></td>
      <td><%= channel.language %></td>
      <td><%= channel.stream_type %></td>
      <td><%= channel.game %></td>
      <td><%= channel.gender %></td>
      <td><%= channel.platform %></td>

      <td class="text-right">
        <%= link "Show", to: channel_path(@conn, :show, channel), class: "btn btn-default btn-sm" %>
        <%= link "Edit", to: channel_path(@conn, :edit, channel), class: "btn btn-default btn-sm" %>
        <%= link "Delete", to: channel_path(@conn, :delete, channel), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
