<h2>New channel</h2>

<%= render "form.html", changeset: @changeset,
                        action: channel_path(@conn, :create),
                        languages: @languages,
                        streamtypes: @streamtypes,
                        games: @games,
                        genders: @genders,
                        platforms: @platforms %>

<%= link "Back", to: channel_path(@conn, :index) %>
