<h2>Show channel</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @channel.name %>
  </li>

  <li>
    <strong>Language:</strong>
    <%= @channel.language %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @channel.stream_type %>
  </li>

  <li>
    <strong>Game:</strong>
    <%= @channel.game %>
  </li>

  <li>
    <strong>Gender:</strong>
    <%= @channel.gender %>
  </li>

  <li>
    <strong>Platform:</strong>
    <%= @channel.platform %>
  </li>

</ul>

<%= link "Edit", to: channel_path(@conn, :edit, @channel) %>
<%= link "Back", to: channel_path(@conn, :index) %>
